#os_results ol > li {
  margin-bottom:1em;
}
#os_results ol > li > header > span,
#os_results ol > li > header > a {
  font-size:120%;
}
#os_results ol > li > blockquote,
#os_results ol > li > blockquote > p{
  margin:0.2em 0;
}
#os_results ol > li > footer > cite {
  color:#008800;
}
#os_results ol > li *:empty {
  display:none;
}

#os_results nav > ul {
  list-style-type:none;
  padding-left:0;
  display:flex;
  justify-content:center;
}
#os_results nav > ul li {
  padding-left:0.3em;
  padding-right:0.3em;
}

#os_results form {
  text-align:center;
}

#os_results > footer {
  text-align:center;
}

/* ***** Typeahead input and dropdown menu styles ****************** */
.twitter-typeahead .os_typeahead.tt-hint {}
.twitter-typeahead .os_typeahead.tt-input {}
.twitter-typeahead .os_typeahead ~ .tt-menu {
  background-color:#fff;
  border:1px solid #000;
  width:200%;
  max-width:90vw;
  text-align:left;
  left:50%!important;
  transform:translate(-50%, 0);
}
.twitter-typeahead .os_typeahead ~ .tt-menu .tt-suggestion {
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
}
.twitter-typeahead .os_typeahead ~ .tt-menu .tt-suggestion.tt-cursor {
  background-color: #ccc;
  cursor:pointer;
}
